body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    
}

main{
    margin: 0;
}

:root{
    --main-bg-color: brown;
    
}

header{
    width: auto;
    height: auto;
    background-image: none;
    position: relative;
}

h1{
    position: absolute;
    top: auto;
    object-position: 50%;
    width: inherit;
    height: inherit;
    color:black;
}

#para-copyright{
    font-size: 10px;
    align-self: center;
    color: black;
}

section{
    width: auto;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

#spritesheet{
    background-size: 400% 100%;/* */
    background-position: 0 0;/* */
  

  animation-name: walk;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);

}

body.iscrolling #spritesheet {
    animation-play-state: running;
}

