body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    background-color: brown;
    color:brown;

    height: 1000vw;
}
    

main{
    margin: 0;
    background-color: brown;
    color:brown;
}

:root{
    --main-bg-color: brown;
    
}

header{
    width: auto;
    height: auto;
    position: relative;

    background-image: url(../img/img_arriere/bg-header.png);
    background-size: cover;
}

h1{
    
    top: auto;
    width: inherit;
    height: inherit;
    color:black;

    text-align: center;
    
}

div{
    display:flex;
    justify-content: center;
    align-items: center;
}

#synopsis{
    color: white;
    text-align: center;
}   


#para-copyright{
    font-size: 11px;
    
    color: black;

    text-align: center;
}   

section{
    width: auto;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0%;
   
    border-color: red;
    border: 1px;
}

#begin{
    width: auto;
    height:270vw;
    position: relative;
  
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 49%, rgba(0,212,255,1) 100%); 
    
    background-size: cover;
}

p{
    color: black;
    text-align: center;
}

div{
    width: 100vw;
    height: 100vh;

    border-color: blue;
    border: 1px;
}

#god{
    width: 100vw;
    height: 50vw;
    aspect-ratio: 1/1;
    background-position: 0 0;
    

    
    background-size: cover;
}

#god-2{
    width: 100vw;
    height: 50vw;
    aspect-ratio: 1/1;
    background-position: 0 0;
    

    
    background-size: cover;
}

#god-3{
    width: 100vw;
    height: 50vw;
    aspect-ratio: 1/1;
    background-position: 0 0;
    

    
    background-size: cover;
}

#god-4{
    width: 100vw;
    height: 50vw;
    aspect-ratio: 1/1;
    background-position: 0 0;
    
   
    background-size: cover;
}

#god-hand{
    width: 50vw;
    height: 150vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
    
    
    background-size: cover;
}

/* need to find a way to make them smaller */
#luci1{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
    right: 0%;
    left: 0%;

    
    background-size: cover;
}

#luci2{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
    

    
    background-size: cover;
}

#luci3{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
    

    
    background-size: cover;
}

#luci4{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

    
    background-size: cover;
}

#luci5{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

    
    background-size: cover;
}

#luci6{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

    
    background-size: cover;
}

#luci7{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

   
    background-size: cover;
}

#luci8{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

   
    background-size: cover;
}

#luci9{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

    
    background-size: cover;
}

#luci10{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

   
    background-size: cover;
}

#luci11{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

    
    background-size: cover;
}

#luci12{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

    
    background-size: cover;
}

#luci13{ 
    width: 40vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
   

    background-size: cover;
}

#dia-papa{ 
    width: 50vw;
    height: auto;
    aspect-ratio: 1/1;
    background-position: 0 0;
   
    background-size: cover;
}

#commencus{
    width: auto;
    height:900vw;
    position: relative;
    

    background-image: url(../img/img_arriere/bg-sec-3.png);
    background-size: cover;
}



#fall{
    width: auto;
    height: 300vw;
    position: relative;

    background-image: url(../img/img_arriere/bg-sec-1.png);
    background-size: cover;
}

#spritesheet{/* Le probleme: l'image doit etre au top est fixer; suivre le sroll.  */
    width: 15vw;
    height: 50vh;
  aspect-ratio: 1/1;
  background-position: 0 0;
  position: absolute;
  z-index: 20;
  top: 0%;
  left: 0%;
  margin: 0 auto;

  background-image: url(../img/img_personnages/bycycl.png);  
  background-size: 400% 100%;

  animation-name: walk;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
  animation-play-state: paused;

}

@keyframes walk {
    from { background-position: 0 0; }
    to { background-position: -2800% 0; } 
    /* Note: 19 images x 700px = 13300px */
  }

.is-scrolling #spritesheet {
    animation-play-state: running;
}

#spritesheet2{/* Le probleme: l'image coupe gauche . A droite, ont peut voir une autre partie du sprite  */
    width: 20vw;
    height: 60vh;
    aspect-ratio: 1/1;
    background-position: 0 0;
    position: absolute;
    z-index: 20;
    top: 0%;
    right: 0%;

    background-image: url(../img/img_personnages/bycycl-2.png);  
    background-size: 400% 100%;
  
    animation-name: walk;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-play-state: paused;

  
  }

.is-scrolling #spritesheet2 {
    animation-play-state: running;
}

#call-to-action{
width: 10vw;
height: 20vw;
aspect-ratio: 1/1;
background-position: 50% 50%;

background-image: url(../img/img_elements_visuels/fleches.png);
background-size: 300% 100%;

animation-name: isfleche;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: steps(3);

margin: auto;
 

}

@keyframes isfleche {
    from { background-position: 0 0; }
    to { background-position: -2100% 0; } 
    /* Note: 19 images x 700px = 13300px */
  }


