body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    background-color: brown;
    color:brown;
}
    

main{
    margin: 0;
    background-color: brown;
    color:brown;
}

:root{
    --main-bg-color: brown;
    
}

header{
    width: auto;
    height: auto;
    background-image: none;
    position: relative;
}

h1{
    
    top: auto;
    width: inherit;
    height: inherit;
    color:black;
}

#para-copyright{
    font-size: 10px;
    align-self: center;
    color: black;
}

section{
    width: auto;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

#spritesheet{/* Le probleme: l'image coupe gauche . A droite, ont peut voir une autre partie du sprite  */
  width: 50vw;
  aspect-ratio: 1/1;
  background-position: 0 0;


  background-image: url(../img/img_personnages/bycycl.png);  
  background-size: 400% 100%;

  animation-name: walk;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);

}

@keyframes walk {
    from { background-position: 0 0; }
    to { background-position: -2800% 0; } 
    /* Note: 19 images x 700px = 13300px */
  }

body.iscrolling #spritesheet {
    animation-play-state: running;
}

#spritesheet2{/* Le probleme: l'image coupe gauche . A droite, ont peut voir une autre partie du sprite  */
    width: 50vw;
    aspect-ratio: 1/1;
    background-position: 0 0;
  
  
    background-image: url(../img/img_personnages/bycycl-2.png);  
    background-size: 400% 100%;
  
    animation-name: walk;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
  
  }

  body.iscrolling #spritesheet2 {
    animation-play-state: running;
}

#call-to-action{
width: 10vw;
height: 20vw;
 aspect-ratio: 1/1;
 background-position: 0 0;

 background-image: url(../img/img_elements_visuels/fleches.png);
 background-size: 300% 100%;

 animation-name: isfleche;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-timing-function: steps(3);

}

@keyframes isfleche {
    from { background-position: 0 0; }
    to { background-position: -2100% 0; } 
    /* Note: 19 images x 700px = 13300px */
  }